body {
  margin: 0;
  font-family: Helvetica;
  font-size: 18px;
  color: #212121;
  background-color: #FAFAFA;
}

h1 {
  margin: 0;
  display: block;
  color: #006064;
}

h2 {
  margin: 0 0 1rem 0;
  color: #006064;
  border-bottom: 4px solid #006064;
}

h3, h4 {
  margin: 0;
  color: #006064;
  margin-bottom: 1rem;
}

ul {
  padding-left: 1rem;
  margin-bottom: 1rem;
}

.general-info {
  display: flex;
}

.general-info__image {
  height: 250px;
  width: 250px;
  object-fit: cover;
}

.general-info__text {
  width: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #EEEEEE;
}

.general-info__text a {
  color: #212121;
}

.general-info__position {
  font-weight: 600;
}

.detailed-info {
  display: flex;
}

.detailed-info__aside {
  box-sizing: border-box;
  min-width: 250px;
  padding: 30px;
  background-color: #006064;
  color: #FAFAFA;
}

.detailed-info__main {
  padding: 30px;
}
